<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd


        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 获取用户名 - 提供服务 -->
    <dubbo:service interface="com.demo.DemoService" ref="demoService"
                   timeout="12000"/>

    <!-- 获取用户名 - 提供服务 -->
    <bean id="demoService" class="com.demo.DemoServiceImpl"/>

    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
    <dubbo:application name="demo"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry check="false" address="zookeeper://139.196.140.168:2181"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"/>

</beans>